<!DOCTYPE html>
<html>
  <head>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap-theme.css"/>


    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap-theme.css"/>


  </head>
  <body>
    <div class="header">
      <a href="http://www.ohlone.edu/" target="_blank">
        <img class="logo" src="http://www.ohlone.edu/org/collegeadvancement/downloads/ohlone50thannivlogo-horizontal.jpg" target="_blank" />
      </a>
    </div>  
    <center>
      <font size="4">
        <b>
          Welcome to Dot Slash Computer Science Schedule Builder<br>
        </b>
      </font>
      <font size="4">
        <b>
          for Ohlone College<br>
        </b>
      </font>
      <!--
      <select name="Semester">
        <option selected="selection"></option>
        <option>Summer 2017 - Placeholder</option>
        <option>Fall 2017 - Placeholder</option>
      </select>
      <br><br>
      <table style="text-align:center">
        <tr>
          <th>
            <div class="text-center">Department</div>
          </th>
          <th>
            <div class="text-center">Course Number</div>
          </th> 
        </tr>
        <tr>
          <td>
            <select name="Department - 1">
              <option selected="Chosen Department - 1"></option>
              <option>Department 1 - Placeholder</option>
              <option>Department 2 - Placeholder</option>
            </select>
          </td>
          <td>
      	    <input type="text" name="Course Number">
          </td>
        </tr>
        <tr>
          <td>
            <select name="Department - 2">
              <option selected="Chosen Department - 2"></option>
              <option>Department 1 - Placeholder</option>
              <option>Department 2 - Placeholder</option>
            </select>
          </td>
          <td>
      	    <input type="text" name="Course Number">
      	  </td>
        </tr> 
        <tr>
          <td>
            <select name="Department - 3">
              <option selected="Chosen Department - 3"></option>
              <option>Department 1 - Placeholder</option>
              <option>Department 2 - Placeholder</option>
            </select>
          </td>
          <td>
      	    <input type="text" name="Course Number">
          </td>
        </tr>
        <tr>
          <td>
            <select name="Department - 4">
              <option selected="Chosen Department - 4"></option>
              <option>Department 1 - Placeholder</option>
              <option>Department 2 - Placeholder</option>
            </select>
          </td>
          <td>
            <input type="text" name="Course Number">
          </td>
        </tr>
        <tr>
          <td>
            <select name="Department - 5">
              <option selected="Chosen Department - 5"></option>
              <option>Department 1 - Placeholder</option>
              <option>Department 2 - Placeholder</option>
            </select>
          </td>
          <td>
            <input type="text" name="Course Number">
          </td>
        </tr>
        <tr>
          <td>
            <select name="Department - 6">
              <option selected="Chosen Department - 6"></option>
              <option>Department 1 - Placeholder</option>
              <option>Department 2 - Placeholder</option>
            </select>
          </td>
          <td>
            <input type="text" name="Course Number">
          </td>
        </tr>
      </table>
      <br>
      <input type="submit" value="Generate">
    -->
    </center>
  </body>
  <script src="static/assets/js/jquery-3.2.1.js"></script>
  <script src="static/assets/js/script.js"></script>
  <script src="../static/assets/js/jquery-3.2.1.js"></script>
  <script src="../static/assets/js/script.js"></script>
</html>

